    <!-- encabezado -->
    <header class="header">
        <img class="header__logo" src="/images/logo.jpg" alt="">
        <button class="header__hamburger">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="/courses/list">cursos</a></li>
                <li><a href="/users/profile">perfil</a></li>
                </ul>
            <ul class="header__nav--menu">
                <li><a href="/users/register">registro</a></li>
                <li><a href="/users/login">iniciar sesión</a></li>
              
            </ul>
        </nav>
      </header>