<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body class="home">
  <!-- encabezado -->
  <%- include('../partials/header')%>
  <main class="home__main">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <main class="login__main">
          <section class="login_main_section">
              <article class="login_mainsection_article">
                
                
                  <form action="">
                      <div class="form__header">
                          <h1>Ingresá</h1>
                          <hr>
                      </div>
                     
                      <div class="form__box">
                          <input type="email" placeholder="Email" name="email" id="email">
                      </div>
                      <div class="form__box">
                          <input type="password" placeholder="Contraseña" name="password" id="password">
                          <small><a href="">Olvidé mi contraseña</a></small> 
                      </div>
                      <div class="form__box--remember">
                          <input id="remember" name="remember" type="checkbox">
                          <label class="form__label" for="remember">Recordame</label>
                      </div>
                      <div class="form__box--buttons">
                          <button class="buttons buttons__primary" type="submit">Enviar</button>
                      </div>
                      <div class="form__footer">
                          <small>¿No estás registrado? <a href="/registrar">Registrate</a></small> 
                      </div>
                      
                      
                  </form>
              </article>
          </section>
        </main>
      </div>
    </div>
    </main>
</section>
<!-- pie de página -->
<%- include('../partials/footer') %> 
</body>
</html>

    