<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
    <%- include('../partials/head')%>
<body>
    <h1>Registro</h1>
    <%- include('../partials/header')%>
    <main class="register__main">
        <section class="register__main__section">
            <article class="register__main__section__article">


                <form action="">
                    <div class="form__header">
                        <h1>Registrate</h1>
                        <hr>
                    </div>
                    <div class="form__box">
                        <input type="text" placeholder="Nombre" name="name" id="name">
                    </div>
                    <div class="form__box">
                        <input type="text" placeholder="Apellido" name="surname" id="surname">
                    </div>
                    <div class="form__box">
                        <input type="email" placeholder="Email" name="email" id="email">
                    </div>
                    <div class="form__box">
                        <input type="password" placeholder="Contraseña" name="password" id="password">
                    </div>
                    <div class="form__box">
                        <input type="password" placeholder="Confirma contraseña" name="password2" id="password2">
                    </div>
                    <div class="form__box--buttons">
                        <button class="buttons buttons__secondary" type="reset">Borrar</button>
                        <button class="buttons buttons__primary" type="submit">Enviar</button>
                    </div>
                    <div class="form__footer">
                        <small>¿Estás registrado? <a href="/ingresar">Ingresá</a></small> 
                    </div>

                </form>
            </article>
        </section>
      </main>
    <%- include('../partials/footer')%>
    <%- include('../partials/scripts')%>

    
</body>
</html>